# Device to use: cuda / cpu
DEVICE=cuda

# Number of CPU threads for PyTorch
NUM_THREADS=8

# Directory where you installed the model
MODEL_DIR=../model

# Directory where you installed the VAD model
VAD_MODEL_DIR=../model/VAD

# Use ONNX model for VAD (True / False)
VAD_USE_ONNX=False

# Select desired model outputs (True / False)
ENCODER_OUTPUTS=False
VERBATIM_DECODER_OUTPUTS=False
SUBTITLE_DECODER_OUTPUTS=True

# Options for decoder beam search
NBEST=1
BEAM_SIZE=20
MINLENRATIO=0.2
SUBTITLE_LENGTH_PENALTY=0.1
NORMALIZE_LENGTH_SUBTITLE=True

# Decode all segments at the same time (only works for encoder-only)
BATCH_DECODE=False

# VAD settings
MAX_SEGMENT_LENGTH=15.0
MIN_SEGMENT_LENGTH=3.0
MAX_PAUSE=2.0
MIN_SPEECH_DURATION_MS=250
MIN_SILENCE_DURATION_MS=50
SPEECH_PAD_MS=60
VAD_THRESHOLD=0.5

# Output settings
OUTPUT_ADD_TIMING=True
VERBOSE_OUTPUT=True